
.navContainer{
  position: fixed;
  min-height: 5vh;
  width: 100%;
  background-color: #ffffff3f;
  border-bottom: 1px solid #1C1E21;
overflow: hidden;
top: 0;
  }
  
  .navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #414756;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
  }